@font-face {
    font-family:Extra-days;
    src: url(./city_mango/City\ Mango\ -\ \(Demo\)\ hanscostudio.com.ttf)}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    background-image: url(https://i.pinimg.com/originals/79/d1/92/79d19238535fc14831bd380bb776382e.gif
    );
    color: #3300ff;
    padding: 10px 0;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header h1 {
    margin: 0;
    font-family:Extra-days;
    color: #ffffff;
    font-size: 80px;
    text-shadow:  2px 2px 1px #000000;
}

nav ul {
    list-style: none;
    padding: 0;
    font-size: 27px;

}


nav ul li {
    display: inline;
    margin: 0 15px;

}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

main {
    padding: 50px;
    width: 75%;
    margin: auto;
}

h2 {
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

figure {
    display: inline-block;
    margin: 20px;
    text-align: center;
}

img {
    width: 200px;
    height: auto;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
}

form label {
    margin-top: 10px;
}

form input, form textarea {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    margin-top: 10px;
    padding: 10px;
    background-color: #000000;
    color: #ffffff;
    border: none;
    cursor: pointer;
}

footer {
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}
